/* MAIN PAGE STYLING (ABOUT) */

.main-container.about {
  background: no-repeat center;
  background-image: url(../img/backgrounds/bg-about-main.svg);
  background-size: cover;
  /* background-color: red; */
  /* overflow: hidden; */
}

.start-intro-section {
  display: flex;
  flex: 1;
  padding: 4rem;
  gap: 3rem;
}

.intro-cont {
  flex-basis: 60%;
}

.intro-img-cont {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.portrait-cont-intro {
  /* background-color: rgba(0, 0, 0, 0.2); */
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 2rem 0 0 0;
  overflow: hidden;
}

.portrait-img-cont-intro {
  width: 100%;
}

.init-welcome-message-about {
  padding: 1rem 2rem;

  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.introduction-message {
  padding: 3rem 2rem;
  line-height: 1.5rem;
}

.about-divider {
  background-image: url(../img/dividers/about-divider.svg);
  background-position: top;
  aspect-ratio: 960/150;
}

/* MY PATH SECTION */

.my-path-section {
  padding: 0 5rem 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.my-path-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.my-path-content {
  display: flex;
  gap: 2rem;
}

.origin-container {
  flex-basis: 75%;
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: 1px solid gray;
}

.philosophy-container {
  flex-basis: 50%;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.origin-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #171717;
  padding: 1rem 0;
  line-height: 1.5rem;
}

.philosophy-container .icon {
  color: var(--primary-color);
  font-size: 3rem;
}

.philosophy-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--card-dark-text);
  padding: 1rem 0;
  line-height: 1.5rem;
}

/* ACADEMY / CORE VALUES STANDINGS SECTION */
.acad-stand-section {
  display: flex;
  padding: 5rem;
  gap: 2rem;
}

.academic-section,
.core-values-section {
  flex-basis: 50%;
  padding: 2rem;
}

.acad-cards {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.acad-card {
  padding: 1rem;
  border: 1px solid gray;
  display: flex;
  gap: 0.5rem;
}

.acad-details {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.acad-card .icon {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acad-card .icon-wrapper {
  background-color: var(--primary-accent-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  display: flex;
}

.acad-title {
  font: "Ubuntu", "sans-serif";
  font-weight: 700;
}

.icon-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.acad-extra {
  font-size: 0.75rem;
}

.icon-title .icon {
  color: var(--primary-color);
}

.core-cards {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

.core-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card-dark-text);
  padding: 2rem;
  border-radius: 2rem;
}

.core-card .icon {
  color: var(--primary-color);
}

.core-card .title {
  font-weight: 700;
  font-family: "Ubuntu", "sans-serif";
}

.core-card .description {
  color: gray;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

/* Large desktops */
@media (max-width: 1200px) {
}

/* Tablets landscape / small desktops */
@media (max-width: 1024px) {
  .init-welcome-message-about {
    padding: 0rem 2rem;
    font-size: 1rem;
  }

  .introduction-message {
    padding: 1.5rem 1.2rem;
    line-height: 1.5rem;
    font-size: 0.8em;
  }
  .start-intro-section {
    padding: 2rem;
    gap: 2rem;
  }

  .acad-stand-section {
    flex-direction: column;
    padding: 3rem;
  }
  .my-path-content {
    flex-direction: column;
  }
}

/* Tablets portrait */
@media (max-width: 768px) {
  .start-intro-section {
    flex-direction: column-reverse;
  }

  .portrait-img-cont-intro {
    padding: 0 1rem 0 1rem;
  }

  .intro-cont {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}

/* Mid Tablet - Mobile */
@media (max-width: 600px) {
  .portrait-img-cont-intro {
    padding: 0rem;
  }

  .acad-stand-section {
    padding: 1rem;
  }

  .core-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .my-path-section {
    padding: 0 2rem 2rem 2rem;
  }

  .origin-text,
  .philosophy-text {
    padding: 1rem 0;
    line-height: 1.25rem;
    gap: 1rem;
    font-size: 0.8em;
  }

  .philosophy-container,
  .origin-container {
    padding: 1.25rem 1rem;
  }

  .academic-section {
    padding: 1rem;
  }
}
