/* MAIN PAGE STYLING */

.main-container.hero {
  background: url(../img/backgrounds/bg.png);
}

.main-container.hero::after {
  pointer-events: none;
  cursor: none;
  position: absolute;
  content: "";
  aspect-ratio: 960/100;
  bottom: 0;
  left: 0;
  background: no-repeat center;
  background-image: url(../img/dividers/transition-hero-divider.svg);
  background-size: cover;
  width: 100%;
  z-index: 20;
}

.hero-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.welcome-message-container {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-picture-container {
  flex-basis: 45%;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: end;
}

.portrait-img-wrapper {
  width: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.portrait-image {
  width: 100%;
  z-index: 100;
}
.portrait-img-wrapper::after {
  content: "";
  --circle-radius: 40rem;
  width: var(--circle-radius);
  height: var(--circle-radius);
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  border-radius: 100%;
  z-index: 1;
}

.pill-welcome {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;

  padding: 0.5rem 1.5rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
}

.message-container > div {
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
}

.small-intro {
  font-family: "Montserrat", "sans-serif";
  font-weight: normal;
  padding: 1rem 10rem;
  text-align: center;
}

.hero-cta-cont {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

/* CURRENT POSITION SECTION */

.current-position-container {
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.info-card {
  background-color: var(--card-dark-bg);
  color: white;
  padding: 3rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 50%;
}

.info-card .title {
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  font-size: 1.25rem;
}
.info-card .icon {
  color: var(--primary-color);
}
.info-card .description {
  line-height: 1.5rem;

  color: var(--card-dark-text);
}

/* SKILLSET SECTION */

.skillset-container {
  padding: 5rem 5rem;
  background: no-repeat center;
  background-image: url(../img/backgrounds/skillset-bg.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skillset-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  --skillset-circle: 30rem;
  width: var(--skillset-circle);
  height: var(--skillset-circle);
  border-radius: var(--skillset-circle);
}

.skillset-toggle {
  /* background-color: red; */
  padding-bottom: 5rem;
}
.toggle-btn {
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}
.toggle-btn.cta-link.secondary.active {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
}

.skill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(
    var(--primary-color),
    var(--primary-color),
    #f1f1f1
  );
  color: #fff;
  font-weight: 700;
  --skill-circle: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--skill-circle);
  min-width: var(--skill-circle);
  min-height: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid var(--secondary-color);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.skill.deg0 {
  transform: translateX(-50%) translateY(-50%)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg45 {
  transform: translateX(-50%) translateY(-50%) rotate(45deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg90 {
  transform: translateX(-50%) translateY(-50%) rotate(90deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg135 {
  transform: translateX(-50%) translateY(-50%) rotate(135deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg180 {
  transform: translateX(-50%) translateY(-50%) rotate(180deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg225 {
  transform: translateX(-50%) translateY(-50%) rotate(225deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg270 {
  transform: translateX(-50%) translateY(-50%) rotate(270deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg315 {
  transform: translateX(-50%) translateY(-50%) rotate(315deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skillset-orbit {
  animation: spin 10s linear infinite;
}

.skillset-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* JOURNEY SECTION */

.journey-container {
  padding: 0rem 5rem 5rem 5rem;
}

.timeline-container {
  padding: 0rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: yellow; */
}

.timeline-element {
  display: flex;
  gap: 1.5rem;
}

.timeline-time {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  font-family: "Ubuntu", "sans-serif";
  color: #333;
  font-weight: 500;
  position: relative;
  /* background-color: red; */
}

.timeline-time.active {
  color: var(--primary-color);
  font-weight: 700;
}

.timeline-time::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 150%;
  top: 0;
  right: 0;
  background-color: rgb(195, 195, 195);
  transform: translateY(-10%) translateX(50%);
  z-index: 2;
  /* background-color: red; */
}

.timeline-time::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  transform: translateX(50%);
  border-radius: 2rem;
  z-index: 3;

  /* background-color: red; */
}
.timeline-details {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.timeline-title {
  font-size: 1.5rem;
  font-family: "Ubuntu", "sans-serif";
}

.timeline-extra {
  font-size: 0.5rem;
  color: var(--primary-color);
  font-style: italic;
  font-weight: 500;
  font-family: "Ubuntu", "sans-serif";
}

/* PROJECTS SECTION */

.projects-container {
  padding: 5rem;
  background: url(../img/backgrounds/bg.png);
}

.projects-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* CTA SECTION */

.cta-section-container {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0 0 1rem 1rem;
}

.cta-section-container .title {
  font-size: 3rem;
}

.cta-section-container .description {
  color: var(--card-dark-text);
}

.cta-section-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Large desktops */
@media (max-width: 1200px) {
  .timeline-time {
    flex-basis: 30%;
  }

  .timeline-details {
    flex-basis: 70%;
  }
}

/* Tablets landscape / small desktops */
@media (max-width: 1024px) {
  .small-intro {
    padding: 1rem 3rem;
  }

  .portrait-img-wrapper {
    width: 25rem;
  }

  .portrait-img-wrapper::after {
    --circle-radius: 30rem;
    width: var(--circle-radius);
    height: var(--circle-radius);
  }

  .message-container {
    font-size: 3em;
  }

  .timeline-container {
    padding: 0rem 5rem;
  }
}

/* Tablets portrait */
@media (max-width: 768px) {
  .message-container {
    font-size: 2em;
  }
  .portrait-img-wrapper {
    width: 20rem;
  }
  .portrait-img-wrapper::after {
    --circle-radius: 22rem;
    width: var(--circle-radius);
    height: var(--circle-radius);
  }
  .small-intro {
    font-size: 0.8em;
    padding: 1rem 1.5rem;
  }

  .cta-link {
    font-size: 0.7em;
  }

  .current-position-container {
    padding: 0rem 2rem 0rem 2rem;
  }

  .info-card .description {
    font-size: 0.8em;
  }

  .info-card {
    padding: 1.5rem 1.25rem;
  }

  .card-container {
    gap: 1rem;
  }

  .timeline-container {
    padding: 1rem 0rem;
  }
}

/* Mid Tablet - Mobile */
@media (max-width: 600px) {
  .hero-section {
    flex-direction: column;
  }

  .small-intro {
    font-size: 0.8em;
    padding: 1rem 4rem;
  }

  .welcome-message-container {
    padding: 3rem 0 7rem 0;
  }

  .personal-picture-container {
    align-items: center;
    justify-content: center;
  }

  .card-container {
    flex-direction: column;
  }

  .info-card {
    padding: 2rem 1.5rem;
  }

  .skillset-circle {
    --skillset-circle: 20rem;
    width: var(--skillset-circle);
    height: var(--skillset-circle);
    border-radius: var(--skillset-circle);
  }

  .skill {
    font-size: 0.8em;
    --skill-circle: 8.5rem;
    border-radius: var(--skill-circle);
    min-width: var(--skill-circle);
    min-height: 2rem;
    padding: 0;
  }

  .journey-container {
    padding: 0rem 1.5rem 1rem 1.5rem;
  }

  .timeline-time {
    font-size: 0.7em;
  }

  .timeline-title {
    font-size: 1.25rem;
  }

  .timeline-details .timeline {
    font-size: 0.8em;
  }

  .timeline-time::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 130%;
    top: 0;
    right: 0;
    background-color: rgb(195, 195, 195);
    transform: translateY(-3%) translateX(50%);
    z-index: 2;
    /* background-color: red; */
  }

  .projects-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .projects-container {
    padding: 2rem;
    background: url(../img/backgrounds/bg.png);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .skillset-circle {
    --skillset-circle: 18rem;
    width: var(--skillset-circle);
    height: var(--skillset-circle);
    border-radius: var(--skillset-circle);
  }

  .skill {
    font-size: 0.8em;
    --skill-circle: 8.5rem;
    border-radius: var(--skill-circle);
    min-width: var(--skill-circle);
    min-height: 2rem;
    padding: 0;
  }

  .skillset-container {
    padding: 5rem 0rem;
  }

  .timeline-time {
    padding: 0rem 1rem;
  }

  .cta-section-container {
    padding: 2rem;
  }

  .cta-section-container .title {
    font-size: 1.75rem;
  }
}
