@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 700; */
}

:root {
  --secondary-color: #171717;
  --primary-color: #fd853a;
  --card-dark-bg: #2a2a2a;
  --card-dark-text: #e5e2e1;
}

a {
  text-decoration: none;
  color: inherit;
}

/* GENERAL */
.divider {
  aspect-ratio: 960/100;
  background: no-repeat center;
  background-size: cover;
}

.divider.orange-blob {
  background-image: url(../img/test.svg);
}
.divider.gray-blocks {
  background-image: url(../img/skillset-divider.svg);
}
.divider.gray-blocks-inv {
  background-image: url(../img/skillset-divider-inverted.svg);
}

.section-title {
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
  font-family: "Ubuntu", "sans-serif";
  padding: 1.5rem 0rem;
}
.section-title.left {
  text-align: left;
  padding: 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper {
  position: relative;
  padding: 1rem 0;
}

.title-more-action {
  color: var(--primary-color);
  font-weight: 700;
}

.section-subheadline,
.section-superheadline {
  text-transform: uppercase;
  font-family: "Ubuntu", "sans-serif";
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--primary-color);
}
.section-subheadline::before,
.section-superheadline::before {
  position: relative;
  content: "";
  top: 0;
  left: 0;
  width: 1rem;
  height: 2px;
  background-color: var(--primary-color);
  display: inline-block;
}
/* NAVIGATION / HEADER */
.nav-wrapper {
  padding: 2rem 3rem;
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0.05rem 1rem;
  border-radius: 4rem;
  justify-content: space-between;
}

.nav-link {
  border-radius: 2rem;
  font-family: "Ubuntu", sans-serif;
  padding: 1.25rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link.active {
  background-color: var(--primary-color);
}

.nav-link-logo .logo {
  background-color: var(--primary-color);
  width: 4rem;
  height: auto;
  border-radius: 4rem;
  padding: 0.25rem;
  border: 2px solid white;
}

.nav-link-logo {
  padding: 0.25rem;
}

/* FOOTER / NAVIGATTION */

.footer-nav {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

.footer-logo {
  font-weight: 700;
  font-family: "Ubuntu", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-logo-img-cont {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 2px solid white;
  background-color: var(--primary-color);
}

.footer-logo-img {
  width: 100%;
}

.footer-nav .copyright {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-style: italic;
  font-size: 0.75rem;
}

.footer-nav .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* MAIN PAGE STYLING */
.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.landing-container {
  background: url(../img/bg.png);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.landing-container::after {
  position: absolute;
  content: "";
  aspect-ratio: 960/100;
  bottom: 0;
  left: 0;
  background: no-repeat center;
  background-image: url(../img/transition-hero-divider.svg);
  background-size: cover;
  width: 100%;
  z-index: 20;
}

/* .landing-container::after {
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(50%);
}

.landing-container::before {
  bottom: 0;
  left: 0;
  transform: translateX(-50%) translateY(50%);
} */

.hero-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.welcome-message-container {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-picture-container {
  flex-basis: 45%;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: end;
}

.portrait-img-wrapper {
  width: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.portrait-image {
  width: 100%;
  z-index: 100;
}
.portrait-img-wrapper::after {
  content: "";
  --circle-radius: 40rem;
  width: var(--circle-radius);
  height: var(--circle-radius);
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  border-radius: 100%;
  z-index: 1;
}

.pill-welcome {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;

  padding: 0.5rem 1.5rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
}

.message-container > div {
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
}

.small-intro {
  font-family: "Montserrat", "sans-serif";
  font-weight: normal;
  padding: 1rem 10rem;
  text-align: center;
  /* background-color: red; */
}

.hero-cta-cont {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.cta-link {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
}

.cta-link.primary {
  background-color: var(--primary-color);
  font-weight: 700;
}
.cta-link.secondary {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.cta-link.secondary.inverted {
  border-color: var(--card-dark-text);
  color: #fff;
}

/* CURRENT POSITION SECTION */

.current-position-container {
  /* background: linear-gradient(var(--primary-color), #fff); */

  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.info-card {
  background-color: var(--card-dark-bg);
  color: white;
  padding: 3rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 50%;
}

.info-card .title {
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  font-size: 1.5rem;
}
.info-card .icon {
  color: var(--primary-color);
}
.info-card .description {
  color: var(--card-dark-text);
}

/* SKILLSET SECTION */

.skillset-container {
  padding: 5rem 5rem;
  background: no-repeat center;
  background-image: url(../img/skillset-bg.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.skillset-circle {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  --skillset-circle: 30rem;
  width: var(--skillset-circle);
  height: var(--skillset-circle);
  border-radius: var(--skillset-circle);
}

.skill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(var(--primary-color), var(--primary-color), #fff);
  color: #fff;
  font-weight: 700;
  --skill-circle: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--skill-circle);
  width: var(--skill-circle);
  height: var(--skill-circle);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid var(--secondary-color);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.skill:hover {
  --skill-circle: 10rem;
  width: var(--skill-circle);
  height: var(--skill-circle);
  animation-play-state: paused;
}

.skill.deg0 {
  transform: translateX(-50%) translateY(-50%)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg45 {
  transform: translateX(-50%) translateY(-50%) rotate(45deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg90 {
  transform: translateX(-50%) translateY(-50%) rotate(90deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg135 {
  transform: translateX(-50%) translateY(-50%) rotate(135deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg180 {
  transform: translateX(-50%) translateY(-50%) rotate(180deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg225 {
  transform: translateX(-50%) translateY(-50%) rotate(225deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg270 {
  transform: translateX(-50%) translateY(-50%) rotate(270deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skill.deg315 {
  transform: translateX(-50%) translateY(-50%) rotate(315deg)
    translateY(calc(var(--skillset-circle) / -2));
}

.skillset-orbit {
  animation: spin 10s linear infinite;
}

.skillset-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* JOURNEY SECTION */

.journey-container {
  padding: 0rem 5rem 5rem 5rem;
}

.timeline-container {
  padding: 0rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: yellow; */
}

.timeline-element {
  display: flex;
  gap: 1.5rem;
}

.timeline-time {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  font-family: "Ubuntu", "sans-serif";
  color: #333;
  font-weight: 500;
  position: relative;
  /* background-color: red; */
}

.timeline-time.active {
  color: var(--primary-color);
  font-weight: 700;
}

.timeline-time::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 150%;
  top: 0;
  right: 0;
  background-color: rgb(195, 195, 195);
  transform: translateY(-10%) translateX(50%);
  z-index: 2;
  /* background-color: red; */
}

.timeline-time::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  transform: translateX(50%);
  border-radius: 2rem;
  z-index: 3;

  /* background-color: red; */
}
.timeline-details {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.timeline-title {
  font-size: 1.5rem;
  font-family: "Ubuntu", "sans-serif";
}

.timeline-extra {
  font-size: 0.5rem;
  color: var(--primary-color);
  font-style: italic;
  font-weight: 500;
  font-family: "Ubuntu", "sans-serif";
}

/* PROJECTS SECTION */

.projects-container {
  padding: 5rem;
  background: url(../img/bg.png);
}

.projects-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.project-card {
  border-radius: 1rem;
  overflow: hidden;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: url(../img/natin-test.jpg) center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: linear-gradient(transparent, #000);
  padding: 1rem;
}

.project-details .title {
  color: white;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  font-size: 2rem;
}

.project-details .description {
  color: var(--card-dark-text);
  font-size: 0.75rem;
}

.project-details .type {
  text-transform: uppercase;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 700;
  color: white;
  background-color: var(--primary-color);
  display: inline;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  width: fit-content;
  font-size: 0.75rem;
}

.project-card:hover {
  transform: scale(1.2);
}
.project-card:hover {
  transform: scale(0.9);
}

/* CTA SECTION */

.cta-section-container {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0 0 1rem 1rem;
}

.cta-section-container .title {
  font-size: 3rem;
}

.cta-section-container .description {
  color: var(--card-dark-text);
}

.cta-section-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* BOOSTER CLASSES */

.color-sec {
  color: var(--primary-color);
}
